* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: sans-serif; */
  font-family: 'Dancing Script', cursive;

}

.title {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  text-align: center;
}

.container {
  /* border: solid orange; */
  max-width: 700px;
  min-width: 300px;
  margin: 0 auto;
  height: 400px;
}

.choose-div {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

i {
  font-size: 5rem;
  color: rgb(183, 158, 15);
  /* padding-top: 3rem; */
}

i:hover {
  transform: scale(1.4);
  cursor: pointer;
}

.weapon {
  width: 9rem;
  height: 9rem;
  border: 1px solid rgb(183, 158, 15);
  text-align: center;
  padding: 2rem;
  /* padding-top: 3rem; */
}

.youComputer {
  display: flex;
  justify-content: space-around;
  height: 70px;

}

.center-chose {
width: 50%;
min-width: 100px;
height: 10rem;
text-align: center;
}

.result {
  text-align: center;
  margin-top: 2rem;
  height: 40px;
}

.score-span{
  font-size: 2rem;
}

.score {
  text-align: center;
  margin-top: 2rem;
}

.reset {
  margin-top: 2rem;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid rgb(183, 158, 15);
}

.reset:hover {
  color: rgb(183, 158, 15);
  background-color: rgb(255, 246, 234);

}

.review {
  border: 1px solid rgb(183, 158, 15);
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0;
  box-shadow: 5px 10px 15px rgb(222, 222, 222);
}

